{
    "menu_S1_1":{
        "h":109,
        "w":18
    },
    "menu_S1_2":{
        "h":109,
        "w":18
    },
    "menu_S2":{
        "h":109,
        "w":18
    },
    "menu_S4":{
        "h":109,
        "w":18
    },
    "password":{
        "blank":{
            "h":15,
            "w":18
        },
        "mask":{
            "h":15,
            "w":18
        },
        "num_0":{
            "h":15,
            "w":18
        },
        "num_1":{
            "h":15,
            "w":18
        },
        "num_2":{
            "h":15,
            "w":18
        },
        "num_3":{
            "h":15,
            "w":18
        },
        "num_4":{
            "h":15,
            "w":18
        },
        "num_5":{
            "h":15,
            "w":18
        },
        "num_6":{
            "h":15,
            "w":18
        },
        "num_7":{
            "h":15,
            "w":18
        },
        "num_8":{
            "h":15,
            "w":18
        },
        "num_9":{
            "h":15,
            "w":18
        }
    },
    "splitter":{
        "h":2,
        "w":240
    },
    "tip":{
        "h":140,
        "w":18
    },
    "tip_delay":{
        "h":100,
        "w":18
    },
    "tip_failed":{
        "h":90,
        "w":18
    },
    "tip_success":{
        "h":90,
        "w":18
    }
}